* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a, #1e1b4b);
  color: white;
}

/* HEADER */

header {
  min-height: 100vh;
  padding: 25px 8%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: white;
  background: linear-gradient(135deg, #38bdf8, #a855f7);
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px #38bdf8;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 65px;
  background: linear-gradient(90deg, #38bdf8, #f472b6);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  font-size: 22px;
  margin: 20px 0;
  color: #cbd5e1;
}

.btn {
  text-decoration: none;
  color: #020617;
  background: linear-gradient(135deg, #38bdf8, #f472b6);
  padding: 14px 32px;
  border-radius: 30px;
  font-weight: bold;
}

/* SECTIONS */

section {
  min-height: 100vh;
  padding: 90px 10%;
}

section h2 {
  font-size: 45px;
  margin-bottom: 25px;
  color: #38bdf8;
}

section p {
  font-size: 20px;
  line-height: 1.8;
  color: #dbeafe;
}

/* SKILLS */

.skills-box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skills-box span {
  background: rgba(255, 255, 255, 0.12);
  padding: 15px 25px;
  border-radius: 30px;
  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s;
}

.skills-box span:hover {
  background: #38bdf8;
  color: #020617;
  transform: scale(1.08);
}

/* PROJECTS GRID */

.projects-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: rgba(255, 255, 255, 0.12);
  padding: 30px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(56,189,248,0.5);
}

.card h3 {
  color: #f472b6;
  margin-bottom: 15px;
}

/* CONTACT */

#contact {
  min-height: 70vh;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 25px;
  background: #020617;
  color: #94a3b8;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .projects-box {
    grid-template-columns: 1fr 1fr;
  }

  .hero h1 {
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    width: 200px;
    text-align: center;
  }

  .projects-box {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 38px;
  }

  section h2 {
    font-size: 34px;
  }

  section p {
    font-size: 17px;
  }
}